@import '~bootstrap/scss/bootstrap';

.row {
  max-width: 200px;
  min-height: 80px;
}

.center-block {
  float: none;
}

.tile {
  border-style: solid;
  background-color: blue;
  font-size: 15px;
  font-color: white;
  height: 100px;
  width: 100px;
}
